.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search input {
  width: 400px;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}


.navbar-search button:hover {
  background-color: #777;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-item a:hover {
  background-color: #555;
}
