<h1>Đây là cửa hàng của Quân</h1>

<div id="container">
  <div id="product-container">
    @for (product of products; track $index) {
    <div id="product-card">
      <h2>{{ product.name }}</h2>
      <h2>Giá:{{ product.price }}đ</h2>
      <h2>Số lượng:{{ product.inStock }}</h2>

      <button
        id="buttonAdd"
        [disabled]="product.inStock == 0 ? true : false"
        (click)="addToCart($index)"
      >
        Thêm vào giỏ
      </button>
    </div>

    }
  </div>
  <div id="cart-container">
    @for (product of cart; track $index) {
    <div id="product-in-cart">
      <p>{{ product.name }}</p>
      <p>Giá:{{ product.price }}đ</p>
      <p>Số lượng:{{ product.quantity }}</p>
      <button (click)="removeFromCart($index)">Xóa</button>
    </div>
    }
    <div>
      <p>Tổng tiền: {{ calculateTotal() }} VND</p>
      <button (click)="checkout()">Thanh toán</button>
    </div>
  </div>
</div>
