
.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;

}
.cart{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
