/* You can add global styles to this file, and also import other style files */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    to right,
    #6c67ae,
    #70b7e5,
    #a2dcee,
    #cce9eb
  );
}
